{% extends "layout.html" %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createForumModal">
    Create a new forum
</button>

<div class="modal fade" id="createForumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a new forum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('forum_create') }}">
          <div class="form-group">
            <label class="col-form-label">Name:</label>
            <input type="text" class="form-control"  name="name" />
          </div>
          <div class="form-group">
            <label class="col-form-label">Usergroup:</label>
            <select name="usergroup_id">
                <option value="">All</option>
                {% for group in usergroups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create a new forum</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br /><br />

<form method="GET" action="{{ url_for('forums_index') }}">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input class="form-control" type="text" name="key" placeholder="Filter forums by it's name with the keyword" />
            </div>
        </div>
        <div class="col">
            <div class="form-group form-check">
                <input name="only_forums_user_have_posted_to" value="true" type="checkbox" class="form-check-input">
                <label class="form-check-label">Show only forums which I have posted to.</label>
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<table class="table table-striped">

    <tr>
        <th><span style="color: #007bff; font-size: 18px;">Forums</span></th>
        <th>Name</th>
        <th>Messages</th>
        <th>Usergroup</th>
        <th>Date created</th>
    </tr>
    {% for forum in forums %}
    <tr>
        <td>
            <a class="btn btn-primary btn-sm" href="/forums/{{forum.id}}">Show</a>
        </td>
        <td>{{ forum.name }}</td>
        <td>{{ forum.get_messages_count() }}</td>
        <td>{{ forum.usergroup.name }}</td>
        <td>{{ forum.date_created }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
