{% extends "layout.html" %}

{% block content %}

  <table class="table table-striped" style="border: solid 5px rgb(242, 242, 242);">
    {% for message in messages %}
    <tr>
        <td>
            <div class="row">
                <div class="col">
                    <pre>{{ message.content }}</pre>
                </div>
                <div style="border-left: dashed 2px rgb(230, 230, 230);" class="col-3">
                    <pre>
{{ message.date }}
{{ message.user.username }}
                    </pre>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td style="background: rgb(242, 242, 242);">
            <form method="POST" action="{{ url_for('forum_send_message', forum_id=forum.id) }}">
                <div class="row">
                    <div class="col">
                        <textarea name="content" rows="3" class="form-control" ></textarea>
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-primary btn-lg" value="Send"/>
                    </div>
                </div>
            </form>
        </td>
    </tr>
  </table>
{% endblock %}
