{% extends "layout.html" %}

{% block content %}

{% for message in messages %}
<div class="card border-light" style="margin-bottom: 3px;">
  <div class="card-header">
      <span class="badge badge-secondary">{{ message.date }}</span>
      <span class="badge badge-primary">{{ message.user.username }}</span>
   </div>
  <div class="card-body">
      <pre>{{ message.content }}</pre>
  </div>
</div>
{% endfor %}

<form method="POST" action="{{ url_for('forum_send_message', forum_id=forum.id) }}">
    <div class="card bg-light" style="">
      <div class="card-header">Send message to the forum:</div>
      <div class="card-body">
          <div class="form-row">
              <div class="col">
                  <textarea name="content" rows="6" class="form-control" ></textarea>
              </div>
          </div>
      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
</form>
</br>
  <!--table class="table table-striped" style="border: solid 5px rgb(242, 242, 242);">
    {% for message in messages %}
    <tr>
        <td>
            <div class="row">
                <div class="col">
                    <pre>{{ message.content }}</pre>
                </div>
                <div style="border-left: dashed 2px rgb(230, 230, 230);" class="col-3">
                    <pre>
{{ message.date }}
{{ message.user.username }}
                    </pre>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td style="background: rgb(242, 242, 242);">
            <form method="POST" action="{{ url_for('forum_send_message', forum_id=forum.id) }}">
                <div class="row">
                    <div class="col">
                        <textarea name="content" rows="3" class="form-control" ></textarea>
                    </div>
                    <div class="col-3">
                        <input type="submit" class="btn btn-primary btn-lg" value="Send"/>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table-->
{% endblock %}
