{% extends "layout.html" %}

{% block content %}

{% for message in messages %}
<div class="card bg-light" style="margin-bottom: 5px;">
  <div class="card-header">
      <span class="badge badge-secondary">{{ message.date }}</span>
      <span class="badge badge-primary">{{ message.user.username }}</span>
   </div>
  <div class="card-body">
      <pre>{{ message.content }}</pre>
  </div>
  {% if current_user.usertype.value >= 100 %}
  <div class="card-footer">
    <form method="POST" action="{{ url_for('forum_delete_message', forum_id=forum.id) }}">
        <input name="message_id" value="{{message.id}}" type="hidden" />
        <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Are you sure?!');">
            Delete this message
        </button>
    </form>
  </div>
  {% endif %}
</div>
{% endfor %}

<form method="POST" action="{{ url_for('forum_send_message', forum_id=forum.id) }}">
    <div class="card bg-light" style="">
      <div class="card-header">Send message to the forum:</div>
      <div class="card-body">
          <div class="form-row">
              <div class="col">
                  <textarea name="content" rows="6" class="form-control" ></textarea>
              </div>
          </div>
      </div>
      <div class="card-footer">
          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
</form>
</br>
{% endblock %}
