{% extends "layout.html" %}

{% block content %}
{{ error }}
<div class="centered">
    <form method="POST" action="{{ url_for('user_update_password') }}">
        <table class="simple_table">
            <tr>
                <td>
                    {{ form.password_new.label }}
                </td>
                <td>
                    {{ form.password_new }}
                </td>
                <td>
                    <ul class="flex-container vbox">
                        {% for error in form.password_new.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password_new_re.label }}
                </td>
                <td>
                    {{ form.password_new_re }}
                </td>
                <td>
                    <ul class="flex-container vbox">
                        {% for error in form.password_new_re.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password_old.label }}
                </td>
                <td>
                    {{ form.password_old }}
                </td>
                <td>
                    <ul class="flex-container vbox">
                        {% for error in form.password_old.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Change password" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
