{% extends "layout.html" %}

{% block content %}
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Usertype</th>
          <th>Name</th>
          <th>Email</th>
          <th>Date created</th>
          <th>Usergroups</th>
          <th>Sended messages</th>
          <th></th>
        </tr>
    </thead>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.usertype.name }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.date_created }}</td>
      <td>
          {% for group in user.usergroups %}
          <p>
              {{ group.name }}
          </p>
          {% endfor %}
      </td>
      <td>{{ user.sended_message_count() }}</td>
      {% if current_user.usertype.value >= 100 %}
      <td>
          <form method="POST" action="{{ url_for('user_delete') }}">
              <input type="hidden" value="{{ user.id }}" name="user_id"/>
              <input type="submit" class="simple_button" onclick="return confirm('Are you sure?!');" value="Delete"/>
          </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
