{% extends "layout.html" %}

{% block content %}

{% if current_user.usertype.value >= 50 %}
<h2 class="simple_header">Create a new user</h2>
<form method="POST" action="{{ url_for('user_create') }}">
    <table class="centered simple_table">
        <tr>
            <td><span>Name:</span></td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><span>Email:</span></td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td><span>Username:</span></td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td><span>Password:</span></td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><span>Re-enter password:</span></td>
            <td><input type="password" name="password1" /></td>
        </tr>
        <tr>
            <td><span>Usertype:</span></td>
            <td>
                <select name="usertype_id">
                    {% for usertype in usertypes %}
                    <option value="{{ usertype.id }}">{{ usertype.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <div class="centered">
        <input type="submit" class="simple_button" value="Create a new user" />
    </div>
</form>
{% endif %}

{% if current_user.usertype.value >= 100 %}
<h2 class="simple_header">Create a new usertype</h2>
<form method="POST" action="{{ url_for('usertype_create') }}">
  <table class="centered simple_table">
    <tr>
        <td><span>Name:</span></td>
        <td><input type="text" name="name"/></td>
    </tr>
    <tr>
        <td><span>Value:</span></td>
        <td><input type=number name="value" step="0.1" min="0" max="100" value="30.00"/></td>
    </tr>
</table>
<div class="centered">
    <input type="submit" class="simple_button" value="Add a new usertype"/>
</div>
{% endif %}
{% endblock %}
